.container {
    background-color: gray;
    color: white;
    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 1440px;
        height: 48px;
        margin: auto;
    }
}